.nav{
	background-color: #29201d;
	height: 49px;
	animation-name: navinicio;
	animation-duration: 2s;
}
.corpo{
	background-color: #29201d;
}
a{
	text-decoration: none;
	color: white;
}
.nav a:hover{
	color: #d92d02;

}
.currículo a:hover{
	color: #d92d02;
	}
body{
	background-color: #29201d;
}
ul{
	color:white ;
}
h1{
	color: white;
}
h2{
	color: white;
}
span{
	color: #d92d02;
	display: block;
}
html, body{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;

}
.nav ul{
	font-size: 21px;
	font-weight: 100;
	list-style: none;
	height: 49px;
	text-align: right;
	margin: 0;
}
.nav li{
	display: inline-block;
	padding-left: 35px;
	padding-right: 35px;
	padding-top: 0;
	padding-bottom: 0;
	line-height: 49px;

}
.nav li.linhas{
	display: none;
}
.nav li.linhas:hover{
	cursor: pointer;
	color: #d92d02;
}
.corpo div{
	display: inline-block;
	height: 650px;
}
.foto{
	width: 40%;
	text-align: center;

	animation-name: fotoinicio;
	animation-duration: 2s;
}
.texto{
	width: 59%;
	vertical-align: top;
	animation-name: textoinicio;
	animation-duration: 2s;

}
.corpo h1{
	font-size: 56px;
	margin-top: 244px;
	margin-bottom: 0;
	line-height: 49px;
	text-transform: uppercase;
	font-weight: 400;
}
.corpo h2{
	font-size: 21px;
	font-weight: 100;
}
.foto img{
	border-radius: 400px;
	margin-top: 100px;
}
.habilidades span{
	display: inline-block;

}
.caminho {
	list-style: none;
	text-align: left;
	line-height: 50px;
	font-size: 21px;
	font-weight: 100;
	padding-left: 0;
	margin: 0;
}
.caminho li{
	padding-left: 0;
	display: inline-block;
	height: 50px;
	padding-right: 14px;
}
.currículo{
	padding-left: 49px;
	padding-right: 140px;
	margin-bottom: 140px;
	animation-name: curriculoinicio;
	animation-duration: 2s;
}

.currículo h1{
	font-weight: normal;
	color: white;
	font-size: 42px;
	text-transform: uppercase;
}
.currículo h2{
	color: white;
	font-size: 21px;
	font-weight: normal;
	margin-top: 70px;
}
.currículo h3{
	color: #d92d02;
	font-weight: 100;
	margin-bottom: 0;
}
.currículo p{
	color: white;
	font-size: 21px;
	font-weight: 300;
	line-height: 42px;
	text-align: justify;
	margin-top: 0;
	margin-bottom: 21px;
}
.currículo a{
	color: white;
}

.float{
	border-radius: 400px;
	float: right;

}
.imgrede{
	width: 35px;
}
.linksredes{
padding-left: 0;
}
.linksredes li{
	display:inline-block ;
	padding-right: 42px;
}
.miniatura{
	width: 350px;
	height: 350px;
	margin-right: 49px;
	margin-bottom: 49px;
	display: inline-block;
	background-size: contain;
}
.blackbox{
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0;
	transition: 1s;
}
.blackbox:hover{
	opacity: 0.7;
	transition: 1s;
}
.blacktext{
	text-align: center;
	vertical-align: top;

}
.blacktext h1{
	margin: 0;
	font-weight: 300;
	font-size: 21px;
	padding-top: 140px;

}
.blacktext h2{
	margin: 0;
	font-weight: 100;
	font-size: 14px;
}
.linkvoltar{
	display: block;
}
.fttrab{
	width: 100%;
}
@keyframes fotoinicio{
	0%{opacity: 0; transform: translate(0px, -35px)}
	100%{opacity: 1; transform: translate(0px, 0px)}
}
@keyframes textoinicio{
	0%{opacity: 0; transform: translate(0px, 35px)}
	100%{opacity: 1; transform: translate(0px, 0px)}
}
@keyframes navinicio{
	0%{opacity: 0;}
	100%{opacity: 1;}
}
@keyframes curriculoinicio{
	0%{opacity: 0; transform: translate(35px, 0px) ;}
	100%{opacity: 1; transform: translate(0px,0px);}
}
@media (max-width:1000px){
	.nav li{
		display: none;
	}
	.nav li.linhas{
	display: inline-block;
	}
	.texto{
		width: 100%;
	}
	.foto{
		width: 100%;
	}
	.corpo div{
	display: block;
	height: auto;
	text-align: center;
	}
	.foto img{
	max-width: 70%;
	margin-top: 0px;
	}
	.corpo h1{
	font-size: 56px;
	margin-top: 49px;
	margin-bottom: 0;
	line-height: 49px;
	text-transform: uppercase;
	font-weight: 400;
	}
	.currículo{
	padding-left: 7%;
	padding-right: 7%;
	padding-top: 2%;
	padding-bottom: 7%;
	}
	.currículo h2{
	margin-top: 0;
	}
	.currículo h1{
	font-size: 35px;
	}
	.float{
	width: 30%;
	border-radius: 400px;
	}
	.caminho{
		font-size: 14px;
	}
	.blackbox{
		opacity: 0.7;
	}
	.miniatura{
		max-width: 100%;
		background-size: auto 100%;
	}
	.menujs {
		height: auto;
	}
	.menujs ul{
		height: auto;
		text-align: center;
		padding-left: 15%;
		padding-right: 15%;

	}
	.menujs li{
		display: block;
		text-align: center;
		border-bottom:solid white 1px;
		padding: 0;
		width: 100%;


	}







}	